* {
    box-sizing: border-box;
    color: black;
    
  }

  body {
      background-color: oldlace;
  }

  /* #white-text {
    font: white;
  } */
  
  #headshot {
    height: 20rem;
    border-radius: 160px;
  }

  .rem {
    width: 20rem;
  }

  .limegreen {
    color: limegreen;
  }


  #nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    /* background-color; */
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: #9c27b0
  ;
    color: red;
  }

  #nav-bar-fixed:hover {
    color: #00a2e0;
  }


  nav ul li:hover {
    color: orange;
  }

  #navbar-fixed {
    position: fixed;
  }
  
  .aboutme {
    background-color: oldlace;
    height: 50vh;
  }

  
  #name {
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
    margin-left: 325px;
    margin-bottom: 0;
    margin-right: 0px;
    
  }



  .title {
    text-align: center;
  }

  .headshots {
    height: 40px;
    width: 40px;
    margin: 10px auto;
    border-radius: 0
  }

 

  #title {
    text-align: center;
    /* margin-left: 302px; */

  }

  
  #textbox1 {
    padding: 20px;
    text-align: left;
  }
  
  .jobtitle1 {
    color: purple;
    display: inline;
  }

  .jobtitle2 {
    color: black;
    display: inline;
  }
  
  .button {
    display: block;
    border-radius: 12px;
    font-size: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  }
  
  .projects-purple {
    background-color: #9c27b0;
    border: 20px;
    padding: 20px;
    text-align: center;
    width: ;
  }

  .projects-oldlace {
    background-color: oldlace;
    border: 20px;
    padding: 20px;
    text-align: center;
    width: ;
  }

  .projects-blue {
    background-color: lightblue;
    border: 20px;
    padding: 20px;
    text-align: center;
    width: ;
  }


  .oldlace {
    color: oldlace;
  }
  
  .container {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .card-projects {
    background-color: oldlace;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    display:inline-block
  }
  
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0 auto;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .tag-blue {
    background-color: blue;
  }

  .tag-red {
    background-color: red;
  }

  .tag-green {
    background-color: green;
  }

  .tag-yellow {
    background-color: coral;
  }
  
  .tag-purple {
    background-color: #9c27b0;
  }
  
  .tag-pink {
    background-color: hotpink;
  }
  
  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  
  .skills {
    border: 20px;
    padding: 40px;
    text-align: center;
  }
  
  .skills-list {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    font-size: 1vw;
  }
  
  .cert-list {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
  }
  
  .certificates {
    background-color: #A519FA;
    border: 20px;
    padding: 40px;
    text-align: center;
  }
  
  .contact {
    background-color: #9c27b0;
    border: 20px;
    padding: 20px;
    text-align: center;
    color: black;
    /* border: red 5px solid; */
  }

  .footer {
    background-color: hotpink;
    border: #9c27b0 10px solid;
  }

  .testimonials {
    background-color: purple;
    height: 50vh;
    border: 20px;
    padding: 20px;
    text-align: center;
    color: white;
  }

  h2 {
    color: #9c27b0
  }

  #nav-header {
    color: oldlace;
  }

  .purple {
    color: #9c27b0;
  }

  #oldlace {
    color: oldlace;
    border: 20px;
    padding: 20px;
    text-align: center;
  }

  #purple {
    color: #9c27b0;
  }

  #purp {
    color: #9c27b0;
  }

  #ice {
    color: #00a2e0;
  }

  #mag {
    color: magenta;
  }
  

  #oldlace {
    color: oldlace;
  }


  
  /* .fa {
    padding: 20px;
    font-size: 20px !important;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
   */
  /* .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-github {
    background: black;
    color: white;
  }
  
  .fa-envelope {
    background: red;
    color: white;
  }
  
  .fa-download {
    background: salmon;
    color: black;
  }
   */
 
  @media screen and (max-width: 1800px) {
  }